DEV_MODE=true
API_PORT=8080
WS_PORT=8081
JWT_SECRET="wowILoveCats"
JWT_CONNECTIONS_SECRET="wowILoveFish"
JWT_WEBHOOK_SECRET="wowILoveOverwatch"
DATABASE_URL="postgresql://postgres:123@localhost/postgres"
DATABASE_DIRECT_URL="postgresql://postgres:123@localhost/postgres"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASS=""
REDIS_PATH=""
CLIENT_URL="http://localhost:3000"
ORIGIN=["https://nerimity.com", "http://local.nerimity.com", "http://localhost:3000"]
NERIMITY_CDN="https://cdn.nerimity.com/"
LOCAL_NERIMITY_CDN="http://localhost:8003"
NERIMITY_CDN_SECRET="something secret wow"

EXTERNAL_EMBED_SECRET="something secret wow"

MAX_CHANNELS_PER_SERVER=100
MAX_INVITES_PER_SERVER=10
MAX_ROLES_PER_SERVER=50


TURNSTILE_SECRET="0x1234"

SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
CONNECTIONS_SECRET= # key must be 32 characters long 

KLIPY_API_KEY=


CLOUDFLARE_CALLS_ID=
CLOUDFLARE_CALLS_TOKEN=