DEV_MODE=true
PORT=80
JWT_SECRET="wowILoveCats"
JWT_CONNECTIONS_SECRET="wowILoveFish"
DATABASE_URL="postgresql://postgres:123@localhost/postgres"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASS=""
CLIENT_URL="http://localhost:3000"
ORIGIN=["https://nerimity.com", "http://local.nerimity.com", "http://localhost:3000"]
NERIMITY_CDN="https://cdn.nerimity.com/"
NERIMITY_CDN_SECRET="something secret wow"

MAX_CHANNELS_PER_SERVER=100
MAX_INVITES_PER_SERVER=10
MAX_ROLES_PER_SERVER=30

DEFAULT_SERVER_ROLE_COLOR="#fff"

TURNSTILE_SECRET="0x1234"

SMTP_SERVICE="gmail"
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
CONNECTIONS_SECRET= # key must be 32 characters long 

TENOR_API_KEY=